.headerContainer,
.navContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.headerContainer {
  margin: auto;
  width: 100%;
  background-color: var(--mainColor);
}

.navContainer {
  width: 100%;
  padding: 1rem;
  align-items: center;
}

.navLinks {
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  /**/background: aqua;
  /**/border: 2px solid black;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.8s ease;
}

.navLinks.active {
  top:0;
  background-color: rgb(150, 21, 21);
  /*position: fixed;
  top: 0;
  width: 100vw;
  flex-flow: column nowrap;
  text-align: center;*/
}/*{
  
  
  
  
  
}*/

.navLinkItem {
  padding: 1rem;
  font-size: 1.5rem;
}

.navLinkText {
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
  position: relative;
  padding: 1rem;
}

.navLinkText:hover {
  color: var(--secondaryColor);
}

.logo {
  margin: 20px 50px 20px 0;
}

.hamburgerMenuBtn {
  background-color: transparent;
  border: none
}

.bar {
  width: 2rem;
  height: 0.2rem;
  background-color: black;
  margin: 5px;
  border-radius:5px;
}

.hamburgerMenuBtn.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburgerMenuBtn.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburgerMenuBtn.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
@media screen and (min-width: 600px) {
  .navLinks {
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    flex-flow: row nowrap;
  }
  
  .navLinksUl {
    display: inline-flex;
  }

  .hamburgerMenuBtn {
    display: none;
  }
}
