.sectionBox,
.aboutBox {
  display: flex;
  flex-direction: column;
}

.sectionBox {
  width: 100%;
}

.aboutBox {
  width: 100%;
  align-items: center;
  text-align: justify;
  padding: 1rem;
}

.aboutHeader {
 text-align: center;
 padding: 2rem 0;
}

.greetingText {
  font-size: /*2rem*/ calc(1.8rem + .6vw);
  padding-bottom: 1.5rem;
}

/*@media screen and (min-width: 600px) {
    
    
}*/
