.layout,
.socialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  flex-flow: column nowrap;
}

.designLine {
  border-top: 3px solid #171f38;
}

.socialMedia {
  flex-flow: row nowrap;

}

.socialMediaIcon {
  padding: 1.5rem;
  width: 8rem;
  text-align: center;
}
