.container {
  /*background: url(../public/testBg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;*/
  background: rgb(205, 255, 216);
  background: linear-gradient(
    45deg,
    rgba(205, 255, 216, 1) 0%,
    rgba(148, 185, 255, 1) 100%
  );
  height: 100%;
}

.section {
  margin: 0.5rem;
  height: 100%;
  position: relative;
  top: 5rem;
}
