.headerContainer,
.navContainer,
.navLinksUl {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer,
.navContainer {
  flex-flow: row nowrap;
}

.headerContainer,
.navLinks {
  position: fixed;
  top: 0;
}

.headerContainer {
  z-index: 1000;
}

.navContainer {
  background-color: rgb(175, 200, 247);
}

.navLinks {
  left: -100%;
  width: 100%;
  transition: 0.8s ease;
}

.navLinksUl {
  height: 100vh;
  flex-flow: column nowrap;
}

.active {
  left: 0%;
  background-color: aqua;
}

.navLinkItem {
  padding: 1rem;
  font-size: 1.5rem;
}

.navLinkText {
  display: flex;
  color: black;
  text-decoration: none;
  text-align: center;
  transition: 0.5s ease;
  padding: 1rem;
}

.navLinkText:hover {
  color: var(--secondaryColor);
}

.logo {
  margin: 20px 50px 20px 0;
  padding: 0;
}

.hamburgerMenuBtn {
  position: fixed;
  left: 80%;
  background-color: transparent;
  border: none;
}

.bar {
  width: 2.4rem;
  height: 0.7rem;
  background-color: black;
  margin: 5px;
  border-radius: 5px;
}

.hamburgerMenuBtn.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburgerMenuBtn.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(-45deg);
}

.hamburgerMenuBtn.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(45deg);
}

@media screen and (min-width: 600px) {
  .navLinks {
    position: relative;
    left: 0;
    top: 0;
    flex-flow: row nowrap;
    transition: none;
  }

  .hamburgerMenuBtn,
  .bar {
    display: none;
  }

  .navLinksUl {
    height: auto;
    flex-direction: row;
  }

  .active {
    background-color: inherit;
  }
}
